* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #f5f7f7;
}

.container-fluid {
    margin-top: .5rem;
}

.container-home {
    max-width: 85%;
}

.home {
    background-image: url("resources/wallpaper7-sized.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: mintcream;
}

.home h1 {
    padding-top: 20vw;
    font-size: 4.5rem;
}

.home h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.img-thumbnail {
    border-radius: 1em;
    transition: .5s ease;
    backface-visibility: hidden;
    overflow: hidden;
    padding: 0;
    border-color: #fff9f2;
    z-index: -1;
}

.myWork {
    align-items: center;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
}

.title-section {
    margin-bottom: 0.5em;
}

.small-logos-black {
    padding-left: 1em;
    font-size: 2em;
    color: #02021b;
    margin: 10px;
}

.small-logos-white {
    padding-left: 1em;
    padding-top: 2rem;
    font-size: 2em;
    color: #fff9f2;
    margin: 1rem;
}

.small-logos-white:hover {
    color: #ffae00;
}

a {
    color: #ffae00;
}

a:hover {
    color: #ffae00;
    text-decoration: none;
}

.media img {
    width: 64px;
}

.carousel {
    border-radius: 2em;
    overflow: hidden;
    width: 75%;
}

.carousel-item {
    width: 100%;
    height: 300px;
    /* example */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.div-carousel {
    justify-content: center;
    margin-top: 2em;
}

.brainshield img {
    justify-self: center;
}

.brainshield video {
    border-radius: 1em;
    overflow: hidden;
}

.media-body {
    padding-left: 2rem;
}

.media-body img {
    margin: 0.5em;
}

.games {
    margin: 1em;
}

.unity img {
    align-self: center;
}

.web img {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.web h3 {
    padding-top: 2rem;
}

.brainshield a {
    color: #ffae00;
    font-weight: bold
}

.web a {
    color: #ffae00;
    font-weight: bold
}

#particles-js {
    top: 1080px;
    position: absolute;
    height: 4100px;
    width: 100%;
    z-index: -1;
    left: 0;
}

.outils {
    display: flex;
    justify-content: center;
}

.outils img {
    width: 100px;
    padding-left: 1em;
}

.brainshield h5 {
    /*background-color: #FFBD09;*/
    /*color: white;*/
    /*border-radius: 20px;*/
    /*width: fit-content;*/
    /*padding: 10px;*/
}


/*.web h5 {*/


/*    background-color: #4267b2;*/


/*    color: white;*/


/*    border-radius: 20px;*/


/*    width: fit-content;*/


/*    padding: 10px;*/


/*}*/


/*.unity h5 {*/


/*    background-color: #343a40; !*343a40*!*/


/*    color: white;*/


/*    border-radius: 20px;*/


/*    width: fit-content;*/


/*    padding: 10px;*/


/*}*/

.backend {
    display: flex;
    flex-wrap: wrap-reverse;
}

.hvr-grow-pic {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-pic:hover,
.hvr-grow-pic:focus,
.hvr-grow-pic:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    position: relative;
}

.hvr-grow-myworks {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-myworks:hover,
.hvr-grow-pic:focus,
.hvr-grow-pic:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
    position: relative;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.hvr-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
}

.mail {
    margin: 10px;
    justify-content: center;
}

.mail button {
    margin-left: 10px;
    border-color: #ffae00;
    color: #ffae00;
}

.mail button:hover {
    border-color: #ffae00;
    color: #02021b;
    background-color: #ffae00;
}

#star-game-button {
    border-color: #ffae00;
    color: #ffae00;
    font-weight: bold;
}

#star-game-button:hover {
    border-color: #ffae00;
    color: #02021b;
    background-color: #ffae00;
}

.contact-me-home {
    top: 900px;
    position: absolute;
    width: 100%;
    left: 0;
}

#game-board {
    /*opacity: 0;*/
    background-color: #ccc;
    /*width: 90vmin;*/
    /*height: 90vmin;*/
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-size: auto;
    background-image: url("snake-js/ressources/body-h.png");
    /*background-color: forestgreen;*/
    /*border: .01vmin solid #02021b;*/
    /*border-radius: 5px;*/
}

.food {
    background-size: contain;
    background-image: url("snake-js/ressources/apple.png");
    border-radius: 5px;
    background-position: center;
}

#mainNav {
    font-weight: 700;
    z-index: 2;
    background-color: #02021b;
}

#mainNav .navbar-brand {
    color: #fff9f2
}

#mainNav .navbar-brand:hover {
    color: #ffae00
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff9f2;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #ffae00;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.anchor {
    padding-top: 150px;
}

.nav-link {
    color: #dee2e6;
    margin-left: 10px;
    padding-left: 15px;
}

.navbar-brand {
    color: #dee2e6;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: .5rem;
    overflow: hidden
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8)
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 0.95;
    background-color: #ffae00;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #02021b;
    opacity: 1
}

.portfolio-modal-title {
    color: #02021b;
}

#portfolio img {
    height: 220px;
    object-fit: scale-down;
}

#portfolio a {
    color: #ffae00;
}

#formation {
    padding-top: 4rem;
}

#Corentin {
    background-color: #1b1e21;
    color: #d5d5d5;
    padding-top: 2rem;
}

#footer {
    margin-top: 5rem;
}

.footer-copyright a {
    color: #d5d5d5;
}

.scroll-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid #fff9f2;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.scroll-down:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff9f2;
    border-radius: 100%;
    animation: scroll-down_btn-animation 1.5s infinite;
    box-sizing: border-box;
}

@keyframes scroll-down_btn-animation {
    0% {
        opacity: 0;
        transform: translateY(0rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}